{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "no-underscore-dangle": "off",

    "import/no-extraneous-dependencies": ["error", {"devDependencies": true, "optionalDependencies": false}],
    "import/no-unresolved": 0,

    "react/jsx-filename-extension": [1, { "extensions": [".js"] }],
    "react/sort-comp": [1, {
      "order": [
        "type-annotations",
        "static-methods",
        "lifecycle",
        "everything-else",
        "render"
      ]
    }]
  }
}
